
@{
    ViewBag.Title = "Productos";
}

<h2> @ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <div class="row" style="text-align:right; padding:10px">
            <a href="~/Producto/Nuevo " class="btn btn-primary">Agregar</a>
        </div>

        <table class="table">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>stock</th>
                <th>Foto</th>
                <th>Categoria</th>
                <th>Estado</th>
                <th></th>
            </tr>



            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>1</td>
                    <td>@oElemento.nombre_producto</td>
                    <td>@oElemento.precio</td>
                    <td>@oElemento.stock</td>

                    <td>
                        <img width="100" src="@Url.Action("obtenerImagen", "producto", new { id = @oElemento.id_producto})" />
                    </td>



                    <td>@oElemento.categoria</td>
                    <td>@oElemento.estado</td>
                    <td>
                        <a class="btn btn-default" href="@Url.Action("Editar", "Cliente", new { id = @oElemento.id_producto})">Editar</a>
                        <a class="btn btn-danger" href="@Url.Action("Eliminar", "Cliente", new { id = @oElemento.id_producto  })" onclick="return Delete()">Eliminar</a>
                    </td>
                </tr>
            }
        </table>
    </div> 
</div>