@{
    ViewBag.Title = "Catalogo de Productos";
}

<h2>@ViewBag.Title</h2>

<script type="text/javascript">
    function agregarCarrito(id_producto) {
        var formData = new FormData();
        formData.append("Id_producto", id_producto);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Carrito/Index',
            success: function (data) {
                if (data.Success) {
                    $("#cartItem").text("Carrito(" + data.Counter + ")");
                }
            },
            error: function(){
                alert("Hubo un problema");
            }
        });
    }
</script>

<div class="contenido">
    <div>
        <h1>Encuentra los mejores productos</h1>
    </div>
    <div></div>

    @foreach (var oElemento in Model)
    {
        <div class="item">
            <img src="@Url.Action("obtenerImagen", "producto", new { id = @oElemento.id_producto, @class="item-img"})" />

            <div class="item-text">
                <h3>@oElemento.nombre_producto</h3>
                <hr />
                <p>
                    <span>USD$ @oElemento.precio </span>
                    <input type="button" class="btn btn-primary navbar-right" name="AñadirCarrito" value="Añadir al carrito"
                           id="btnAgregarCarrito" onclick="agregarCarrito(@oElemento.id_producto)"/>
                </p>
            </div>
        </div>
    }
</div>

